/* Include the other modularized stylesheets */
@import "./header_footer.css";
@import "./figures.css";
@import "./tables.css";
@import "./layout.css";
@import "./print.css";


/* Main CSS Styles */
body {
	--drpepper-dark: #711f25;
	--drpepper-light: #d51143;
	--drop-shadow: darkslategray;

	margin:0;
	padding:0;
	color:var(--drpepper-dark);
	font-family: Verdana, Arial, sans-serif;
}


/* Main content margins */
main {
	margin: 120px 5% 70px 5%;
}


/* Header Element Styles */
h1 {
	background-image: linear-gradient(to right, var(--drpepper-dark), transparent);
    color: white;
    font-weight: 500;
    padding: 1px 10px;
    letter-spacing: 0.15em;
    margin-bottom: 20px;
}

h2 {
	letter-spacing: 0.1em;
}


/* Primary Content Text Styles */
section, article {
	font-size: 1.15em;
	line-height: 1.5em;
}

section p:first-of-type:first-letter, article p:first-of-type:first-letter {
	font-size: 2em;
	font-weight:bold;
	letter-spacing: 0.1em;
}

section p, article p {
	text-indent: 20px;
}



/* General Link Styles */
a {
	color:var(--drpepper-dark);
}

a:hover {
	background-color:var(--drpepper-dark);
	color:white;
	cursor:crosshair;
}

/* Logo Image Styles */
img.logo {
	float: right;
}

/* Centered Image */
img.ctr {
	display:block;
	margin: 0 auto;
}

.no-top-margin {
	margin-top: 0;
}

.no-bottom-margin {
	margin-bottom: 0;
}

/* Button on API pages */
input.api_button {
	background-color: var(--drpepper-dark);
	color: white;
	border: 2px solid var(--drpepper-light);
	border-radius: 3px;
	padding: 10px;
	font-size: 1em;
	margin: 20px auto;
	display:block;
}

div#data, div#error  {
	margin: 20px 50px 20px 250px;
	font-size:1.5em;
	line-height:1.5;
}

.stock div#error, .players div#error {
	margin: 20px 50px;
	font-size: 1.2em;
	line-height:1.2;
	color: red;
	font-weight: bold;
	text-align:center;
}

.stock div#data, .players div#data {
	margin: 20px 50px;
	font-size: 1.2em;
	line-height:1.2;
}




/* Index Page -- Name Tag Styles */
div#nametag {
	border: 5px solid var(--drpepper-dark);
	border-radius: 8px;
	background-color: var(--drpepper-dark);
	color: white;
	width: 150px;
	text-align:center;
	margin: 10px auto;
}

div#nametag div#name {
	width:100%;
	background-color:white;
}

div#nametag div#name {
	color: black;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 1.3em;
	line-height:1.7em;
}

div#nametag #nametag-line1 {
	text-transform: uppercase;
	font-size:1em;
	letter-spacing: 0.2em;
	padding-bottom:0;
	margin-bottom:0;

}

div#nametag #nametag-line2 {
	font-size:0.6em;
	height:1em;
	padding-top:0;
	margin-top:0;
	margin-bottom:5px;
}

div#nametag div#bottom-row {
	height:10px;
}


/* Form Styles -- Favorite Players Page */
form#addPlayer {
	display:grid;
	grid-template-columns: 2fr 2fr 1fr;
}

form > input {
    display: inline-block;
    border: 2px solid black;
    border-radius: 3px;
	margin: 0 30px 0 0 ;
}


/* Error message styling */
.error {
    color: red;
    display: block;
}

form > input.errorField {
    border-color: red;
}

/* Button styling */
input#btnAddPlayer {
	padding: 5px;
	font-size: .8em;
	margin: 10px 0;
	width: 110px;
}

input#btnAddPlayer:disabled {
    background-color:lightgray;
    color:darkgray;
	border-color:darkgray;
}


/* Center the player data table */
#data table {
	margin: 30px auto;
}

#data table input.deleteBtn {
	background-color: white;
	color: var(--drpepper-light);
	font-weight: 900;
    border: 3px solid var(--drpepper-light);
    border-radius: 5px;
}

#data table input.deleteBtn:hover {
	background-color: var(--drpepper-light);
	color:white;
	cursor:pointer;
	border-color:white;
}

#TeamFilter {
	color: var(--drpepper-dark);
    border: 3px solid var(--drpepper-dark);
    border-radius: 4px;
    font-size: .8em;
}

#filter {
	margin: 10px auto;
}